[user]
	name = Sheng-Liang Song
        email = shengliang.song@bytedance.com

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	st = status -sb
	sm = submodule
	ls = ls-files --stage
	ci = commit
	cl = clean
	branch = branch --sort=committerdate
	br = branch --sort=committerdate
	co = checkout
	df = diff
	ready = rebase -i @{u}
	logp = log -p
	logf = log --first-parent
	standup = log --since yesterday --author ssl
	purr = pull --rebase
	rup = remote update --prune
	mup = git submodule update --remote
	mg = merge --ff-only
	pl = pull --ff-only
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"

[diff]
	ignoreSubmodules = dirty
